<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EnableSmtpFailureNotifications" value="true"/>
		<add key="EnableSmsFailureNotifications" value="true"/>
		<add key="SMTPServer" value="yourserverhere"/>
		<add key="SMTPUserName" value="username(notrequired)"/>
		<add key="SMTPPassword" value="NotRequired"/>
		<add key="SMTPTos" value="commadelimitedemailaddresses"/>
		<add key="SMTPSubject" value="SubjectHere"/>		
		<add key="SMSServer" value="pathtoServer"/>
		<add key="SMSTos" value="CommaDelimtedPhone#'s"/>
			
	</appSettings>
</configuration>